{% extends 'base.html.twig' %}

{% block body %}

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="{{ asset('images/sidebar-5.jpg') }}">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Backoffice<br>Polytech Map
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="{{ path('backoffice_home') }}">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li >
                    <a href="{{ path('backoffice_users') }}">
                        <i class="pe-7s-user"></i>
                        <p>Users Stat</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{{ path('backoffice_data') }}">
                        <i class="pe-7s-note2"></i>
                        <p>Data List</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('backoffice_content') }}">
                        <i class="pe-7s-news-paper"></i>
                        <p>Content</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('backoffice_maps') }}">
                        <i class="pe-7s-map-marker"></i>
                        <p>Maps</p>
                    </a>
                </li>
                <li>
                    <a href="{{ path('backoffice_notifications') }}">
                        <i class="pe-7s-bell"></i>
                        <p>Notifications</p>
                    </a>
                </li>
				<li class="active-pro">
                    <a href="{{ path('homepage') }}">
                        <i class="pe-7s-rocket"></i>
                        <p>Back to home</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Data List</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-dashboard"></i>
								<p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret hidden-sm hidden-xs"></b>
                                    <span class="notification hidden-sm hidden-xs">5</span>
									<p class="hidden-lg hidden-md">
										5 Notifications
										<b class="caret"></b>
									</p>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Notification 1</a></li>
                                <li><a href="#">Notification 2</a></li>
                                <li><a href="#">Notification 3</a></li>
                                <li><a href="#">Notification 4</a></li>
                                <li><a href="#">Another notification</a></li>
                              </ul>
                        </li>
                        <li>
                           <a href="">
                                <i class="fa fa-search"></i>
								<p class="hidden-lg hidden-md">Search</p>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                           <a href="">
                               <p>Account</p>
                            </a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <p>
										Dropdown
										<b class="caret"></b>
									</p>

                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <a href="#">
                                <p>Log out</p>
                            </a>
                        </li>
						<li class="separator hidden-lg hidden-md"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                    <div class="row">
                        <div class="content table-responsive table-full-width">
                            <table style="margin: 25px" id="example" class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Nom</th>
                                    <th>Description</th>
                                    <th>Nombre de sélection du critère</th>
                                    <th>Nombre de données</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Gare</td>
                                    <td>Données des gares et des lignes en France.</td>
                                    <td>TODO</td>
                                    <td>{{gare}}</td>
                                </tr>
                                <tr>
                                    <td>Pollution</td>
                                    <td>Données sur la pollution en France.<br>Concerne <strong>pm25</strong>, <strong>pm10</strong>, <strong>o3</strong> et <strong>no2</strong></td>
                                    <td>TODO</td>
                                    <td>{{pollution}}</td>
                                </tr>
                                <tr>
                                    <td>École</td>
                                    <td>Données sur les institutions académiques en France. (Primaire, Collège, Lycée..)</td>
                                    <td>TODO</td>
                                    <td>{{ecole}}</td>
                                </tr>
                                <tr>
                                    <td>Pharmacies</td>
                                    <td>Données sur les pharmacies en France.</td>
                                    <td>TODO</td>
                                    <td>{{pharma}}</td>
                                </tr>
                                <tr>
                                    <td>Bibliothèques</td>
                                    <td>Données sur les bibliothèques en France.</td>
                                    <td>TODO</td>
                                    <td>{{biblio}}</td>
                                </tr>
                                <tr>
                                    <td>Banques</td>
                                    <td>Données sur les banques en France.</td>
                                    <td>TODO</td>
                                    <td>{{banque}}</td>
                                </tr>
                                <tr>
                                    <td>Restaurants</td>
                                    <td>Données sur les restaurants en France.</td>
                                    <td>TODO</td>
                                    <td>{{resto}}</td>
                                </tr>
                                <tr>
                                    <td>Cafés</td>
                                    <td>Données sur les cafés en France.</td>
                                    <td>TODO</td>
                                    <td>{{cafe}}</td>
                                </tr>
                                <tr>
                                    <td>Stations d'essence</td>
                                    <td>Données sur les stations d'essence en France.</td>
                                    <td>TODO</td>
                                    <td>{{essence}}</td>
                                </tr>
                                <tr>
                                    <td>Parking</td>
                                    <td>Données sur les Parking en France.</td>
                                    <td>TODO</td>
                                    <td>{{parking}}</td>
                                </tr>
                                <tr>
                                    <td>Distributeurs automatiques</td>
                                    <td>Données sur les distributeurs automatiques en France.</td>
                                    <td>TODO</td>
                                    <td>{{atm}}</td>
                                </tr>
                            </tbody>
                            {#
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Salary</th>
                                </tr>
                            </tfoot>
                            #}
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Company
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="http://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer>

    </div>
</div>



{% endblock %}

{% block javascripts %}
    {{parent()}}
    <!--   Core JS Files   -->


    <!--  Charts Plugin -->
    <script src="{{ asset('js/chartist.min.js') }}"></script>

    <!--  Notifications Plugin    -->
    <script src="{{ asset('js/bootstrap-notify.js') }}"></script>

    <!--  Google Maps Plugin    -->
    <script type="{{ asset('text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE') }}"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="{{ asset('js/light-bootstrap-dashboard.js?v=1.4.0') }}"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <script src="{{ asset('js/demo.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            demo.initChartist();

            $.notify({
                icon: 'pe-7s-gift',
                message: "Bonjour, <b>l'import Pollution</b> s'est bien effectué  ce matin."

            },{
                type: 'info',
                timer: 4000
            });
            $('#example').DataTable(

                "language": {
                    {
                    "sProcessing":     "Traitement en cours...",
                    "sSearch":         "Rechercher&nbsp;:",
                    "sLengthMenu":     "Afficher _MENU_ &eacute;l&eacute;ments",
                    "sInfo":           "Affichage de l'&eacute;l&eacute;ment _START_ &agrave; _END_ sur _TOTAL_ &eacute;l&eacute;ments",
                    "sInfoEmpty":      "Affichage de l'&eacute;l&eacute;ment 0 &agrave; 0 sur 0 &eacute;l&eacute;ment",
                    "sInfoFiltered":   "(filtr&eacute; de _MAX_ &eacute;l&eacute;ments au total)",
                    "sInfoPostFix":    "",
                    "sLoadingRecords": "Chargement en cours...",
                    "sZeroRecords":    "Aucun &eacute;l&eacute;ment &agrave; afficher",
                    "sEmptyTable":     "Aucune donn&eacute;e disponible dans le tableau",
                    "oPaginate": {
                        "sFirst":      "Premier",
                        "sPrevious":   "Pr&eacute;c&eacute;dent",
                        "sNext":       "Suivant",
                        "sLast":       "Dernier"
                    },
                    "oAria": {
                        "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                        "sSortDescending": ": activer pour trier la colonne par ordre d&eacute;croissant"
                    },
                    "select": {
                            "rows": {
                                _: "%d lignes séléctionnées",
                                0: "Aucune ligne séléctionnée",
                                1: "1 ligne séléctionnée"
                            }
                    }
                }
                }
                );
        });
    </script>
{% endblock %}

{% block stylesheets %}
{{parent()}}
<link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,700" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('fonts/icomoon/style.css') }}">
<link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
<link rel="stylesheet" href="{{ asset('css/owl.carousel.min.css') }}">
<link rel="stylesheet" href="{{ asset('css/owl.theme.default.min.css') }}">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
<link rel="stylesheet" href="{{ asset('fonts/flaticon/font/flaticon.css') }}">
<link rel="stylesheet" href="{{ asset('css/aos.css') }}">
<link rel="stylesheet" href="{{ asset('css/style.css') }}">


<!--  Light Bootstrap Table core CSS    -->
<link href="{{ asset('css/light-bootstrap-dashboard.css?v=1.4.0') }}" rel="stylesheet"/>
<!--  CSS for Demo Purpose, don't include it in your project     -->
<link href="{{ asset('css/demo.css') }}" rel="stylesheet" />
<!--     Fonts and icons     -->
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
<link href="{{ asset('css/pe-icon-7-stroke.css') }}" rel="stylesheet" />
{#
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #FFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }

</style>
#}
{% endblock %}
